apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: devops-project
spec:
  sourceRepos:
    - 'https://github.com/KacperKlimas10/DevOps'
  destinations:
    - namespace: '*'
      server: '*'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'