.idea
infrastructure/terraform/certskeys
infrastructure/terraform/.terraform
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/var.auto.tfvars
infrastructure/kubernetes/external-dns-manifests/cloudflare-external-dns-secret.yaml
infrastructure/kubernetes/cert-manager-manifests/cloudflare-cert-manager-secret.yaml
infrastructure/terraform/terraform.tfstate.d