.idea
infrastructure/terraform/certskeys
infrastructure/terraform/.terraform
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/var.auto.tfvars
infrastructure/kubernetes/infrastructure/custom-resources/external-dns/cloudflare-secret.yaml
infrastructure/kubernetes/infrastructure/custom-resources/cert-manager/cloudflare-secret.yaml
infrastructure/terraform/terraform.tfstate.d