.idea
infrastructure/prod/terraform/.terraform
infrastructure/prod/terraform/terraform.tfstate
infrastructure/prod/terraform/terraform.tfstate.backup
infrastructure/prod/terraform/.terraform.lock.hcl
infrastructure/prod/terraform/var.auto.tfvars
infrastructure/prod/kubernetes/external-dns-manifests/cloudflare-external-dns-secret.yaml
infrastructure/prod/kubernetes/cert-manager-manifests/cloudflare-cert-manager-secret.yaml