apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage-service-v1.0
  namespace: prod
  labels:
    app: storage-service
    version: v1.0
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/actuator/prometheus'
    prometheus.io/port: '8080'
spec:
  selector:
    matchLabels:
      app: storage-service
      version: v1.0
  template:
    metadata:
      name: storage-service-v1.0
      labels:
        app: storage-service
        version: v1.0
    spec:
      containers:
        - name: storage-service
          image: storage-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
      serviceAccountName: storage-service
      restartPolicy: Always