apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: storage-service-v1.0
  namespace: prod
spec:
  podSelector:
    matchLabels:
      app: storage-service
      version: v1.0
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: prod
      ports:
        - protocol: TCP
          port: 8080