apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: user-service-v1.0
  namespace: prod-user-service
spec:
  podSelector:
    matchLabels:
      app: user-service
      version: v1.0
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: istio-system
      ports:
        - protocol: TCP
          port: 8080