apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-v1.0
  namespace: prod
  labels:
    app: user-service
    version: v1.0
spec:
  selector:
    matchLabels:
      app: user-service
      version: v1.0
  template:
    metadata:
      name: user-service-v1.0
      labels:
        app: user-service
        version: v1.0
    spec:
      containers:
        - name: user-service-v1.0
          image: user-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
      serviceAccountName: user-service
      restartPolicy: Always