apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: config-istio
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://github.com/KacperKlimas10/DevOps.git
    targetRevision: feature/argocd-testing
    path: infrastructure/prod/kubernetes/istio-manifests
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true