apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: user-service
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://github.com/KacperKlimas10/DevOps.git
    targetRevision: feature/argocd-testing
    path: infrastructure/prod/kubernetes/user-service-manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: prod-user-service
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true