apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault-secrets-operator
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: vault-secrets-operator
    repoURL: https://helm.releases.hashicorp.com
    targetRevision: 1.0.1
    helm:
      releaseName: vault-secrets-operator
      values: |
        defaultVaultConnection:
           enabled: true
           address: "http://vault.vault.svc.cluster.local:8200"
           skipTLSVerify: false
  destination:
    server: https://kubernetes.default.svc
    namespace: vault-secrets-operator-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    managedNamespaceMetadata:
      labels:
        istio-injection: enabled  # To inject sidecar proxy automatically we need to set this label
    syncOptions:
      - CreateNamespace=true