apiVersion: networking.istio.io/v1
kind: DestinationRule
metadata:
  name: storage-service-destination-rule
spec:
  host: storage-service.svc.cluster.local
  trafficPolicy:
    loadBalancer:
      simple: ROUND_ROBIN # We can use other interesting load balancing algorithms
  subsets:
    - name: v1.0
      labels:
        app: storage-service
        version: v1.0
    - name: v2.0  # For future purposes
      labels:
        app: storage-service
        version: v2.0
    - name: v3.0  # For future purposes
      labels:
        app: storage-service
        version: v3.0