apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: user-service
  namespace: prod
spec:
  hosts:
    - user-service.prod.svc.cluster.local
  gateways:
    - prod/devops-gateway
  http:
    - match:
      route:
